* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: poppins;
}

.title {
  text-align: center;
  margin-bottom: 40px;
}

.page-container {
  position: relative;
  transition: .5s ease;
}

.icon-dark #icon {
  font-size: 1.4rem;
  cursor: pointer;
  width: 40px;
  padding: 8px 10px;
}

.sun-icon {
  color: black;
  background-color: white;
}

.moon-icon {
  color: white;
  background: #151414;
}

.data-covid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-items: center;
  gap: 20px;
}

/* .data-covid-spesifik{

} */

.data-covid-content {
  background-color: #141415;
  width: 300px;
  padding: .7rem 1rem;
  border-radius: 10px;
}

/* #141415 black */

.box-data-result {
  display: flex;
  justify-content: space-between;
}

.box-data-result .sembuh-data {
  text-align: left;
  width: 70px;
}

.box-data-result .positif-data {
  text-align: left;
  width: 70px;
}

.box-data-result .meninggal-data {
  text-align: left;
  width: 70px;
}

.kasus-update-data {
  width: 100px;
}

.data-covid p {
  color: white;
}

.provinsi {
  text-align: center;
  background-color: rgb(211, 70, 27);
  padding: 5px 0;
  margin-bottom: 10px;
}

.result {
  text-align: justify;
}

.search-field {
  margin-bottom: 60px;
  text-align: center;
}

.search-field .input-search {
  padding: .6rem 1rem;
  outline: none;
}

.search-field .btn-search {
  padding: .6rem .9rem;
  background-color: rgb(211, 70, 27);
  border: none;
  cursor: pointer;
  color: white;
  margin-left: 1rem;
}

/* .data-covid-spesifik {
} */

.box-spesifik {
  padding: 1rem 2rem;
  border-radius: 20px;
  background: #030303;
  color: white;
  text-align: center;
  margin: 0 auto 20px auto;
  box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.4);
}

.data-covid-provinsi-spesifik {
  background-color: rgb(211, 70, 27);
  margin-bottom: 1rem;
  padding: .5rem 1rem;
}

.box-spesifik .data-spesifik {
  display: flex;
  justify-content: space-between;
}

.result-spesifik {
  width: 35%;
  text-align: left;
}

.active-dark {
  background-color: #151414;
  height: 100vh;
}

.active-dark h1 {
  color: white;
}

.active-dark .data-covid-content {
  background-color: #292828;
}

.active-dark .icon-dark {
  color: white;
}

.active-dark .box-spesifik {
  background-color: #292828;
  box-shadow: none;
}

@media (min-width: 768px) {
  .page-container {
    padding: 2rem 7rem;
  }
  .icon-dark {
    position: absolute;
    right: 40px;
    top: 40px;
    display: flex;
    justify-content: space-between;
  }
  .box-spesifik {
    width: 400px;
    font-size: 1.5rem;
  }
}

@media screen and (max-width:767px) {
  .page-container {
    padding: 2rem;
  }
  .icon-dark {
    margin-bottom: 20px;
  }
  .box-spesifik {
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 20px;
    background: #030303;
    font-size: 1rem;
  }
}